<footer class="footer mt-auto py-3">
    <div class="container text-center">
        <span class="text-muted">@Saramatic 2024</span>
        <div class="mt-2">
            <a href="#"><i class="fab fa-twitter"></i></a>
            <a href="#"><i class="fab fa-facebook"></i></a>
            <a href="#"><i class="fab fa-linkedin"></i></a>
            <a href="#"><i class="fab fa-instagram"></i></a>
        </div>
        <div class="mt-3">
            <a href="/todos">Home</a>
            <a href="/users/edit-password">Edit User</a>
            <a href="/auth/logout">Logout</a>
        </div>
    </div>
</footer>